@model SmallCartViewModel

@if (Model != null)
{
    <p>Товарів в Кошику:<span class="badge badge-primary">@Model.NumberOfItems</span> </p>
    <p>Ціна: <b>@Model.TotalAmount.ToString("C2")</b></p>
    <a class="btn btn-primary mb-2" asp-controller="Cart" asp-action="Index" style="">
        <i class="bi bi-cart-check"></i>
    </a>
    <a asp-controller="Cart" asp-action="Clear" class="btn btn-danger" style="margin-bottom:0.5rem">
        <i class="bi bi-cart-x"></i>
    </a>
}
else
{
    <p class="lead m-0">Кошик пустий</p>
   
}

